html {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  line-height: 1.15;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  background-color: var(--background-color);
}
ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
main {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
  text-decoration: none;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button {
  padding: 0;
  border: 0;
  cursor: pointer;
  background: 0 0;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type='button'],
[type='reset'],
[type='submit'],
button {
  -webkit-appearance: button;
}
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type='checkbox'],
[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}
[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details {
  display: block;
}
summary {
  display: list-item;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --cell-size: 100px;
  --background-color: lightyellow;
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-wrap: wrap;
}

.game-wrapper {
  position: relative;
}

.game-result {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-family: 'Permanent Marker', cursive;
  font-size: 74px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.game-result h1 {
  margin: 0;
  line-height: 0.85;
  text-align: center;
  text-shadow: 6px 6px 0px #000;
}

.result-draw {
  color: #9a46ff;
}

.result-youwon {
  color: #4cff46;
}

.result-youlose {
  color: #ff4646;
}

.game-board {
  width: 300px;
  height: 300px;
  gap: 15px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.board-cell {
  background-color: #333;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 64px;
  color: white;
  font-family: 'Permanent Marker', cursive;
}

.cell-disabled {
  pointer-events: none;
  opacity: 0.7;
}

.messages {
  width: 300px;
  height: 300px;
  padding: 5px 0 5px 50px;
  overflow: auto;
}

.success-message {
  color: #5ccd73;
  font-size: 16px;
  font-weight: 700;
}

.error-message {
  color: indianred;
  font-size: 16px;
  font-weight: 700;
}

.info-message {
  color: #5c78cd;
  font-size: 16px;
  font-weight: 700;
}

.controls {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  margin-top: 15px;
}

.controls > button {
  background-color: #333;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}
.controls > button:not(:first-child) {
  margin-left: 15px;
}
